<h1>Welcome to schedule tweets</h1>

<% if Current.user %>
  logged in as :
  <%= Current.user.email %>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  Not Logged in yet
<% end %>
